@import '../../../../assets/sass/variables';

.cards--wrapper {
  width: 90%;
  background-color: $secondary-color;
  margin: 5rem auto;
  padding: 3rem;
  height: auto;
  color: white;
  box-shadow: 1px 1px 5px #6d6a6a;
}

.pokedex--header {
  width: 100%;
  height: 6vh;
  padding: 2rem;
  background-color: #e16565;
}

app-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

