@import '../../../assets/sass/variables';

.header-wrapper {
  background-color: $primary-color;
  color: #ffffff;
  box-shadow: 1px 1px 5px #6d6a6a;
  padding: 1rem;
  height: 10vh;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
