.cards--wrapper {
  width: 90%;
  background-color: #dc4949;
  margin: 5rem auto;
  height: 80vh;
  color: white;
  box-shadow: 1px 1px 5px #6d6a6a;
}

.pokedex--header {
  width: 100%;
  height: 6vh;
  padding: 2rem;
  background-color: #e16565;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30vh;
  margin: 1rem;
}
