@import '../../../../assets/sass/variables';

:host {
  max-height: 100vh;
  //display: flex;
  //align-items: center;
  //flex-direction: column;
  //justify-content: center;
}

.pokedex-header {
  width: 100%;
}

.pokedex-wrapper {
  display: flex;
  background-color: $secondary-color;
  margin: 1rem;
  padding: 0.5rem;

  box-shadow: 1px 1px 10px #333333;
}

pokedex-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 45%;
  height: 100%;

  border-right: 1px solid #dddddd;
}

pokedex-card-detail {
  width: 50%;
}

